@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Space+Grotesk:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root, #loadingScreen
{
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: black;
    touch-action    : none;
    overflow        : hidden;
}

.Hide
{
    opacity: 0;
}

/* .CommunicatorPage
{
    width  : 1125px;
    height : 1290px;
} */

/* .MenuStandPage
{
    width : 1125px;
    height: 1600px;
} */

@font-face 
{
    font-family: "SqueakyChalkSound";
    src        : url("../public/UI/SqueakyChalkSound.ttf");
}

.bigBox
{
  height                    : 220px;
  width                     : 240px;
  position                  : absolute;
  top                       : 50%;
  left                      : 50%;
  transform                 : translate(-50%, -50%);
  overflow                  : hidden;
  border-bottom-width       : 25px;
  border-right-width        : 4px;
  border-left-width         : 4px;
  border-top-width          : 4px;
  border-bottom-left-radius : 25% ;
  border-bottom-right-radius: 25% ;
  border-color              : white;
}
  
.box
{
  margin-top: 10%;
  height: 145px;
  width: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom-left-radius: 25% ;
  border-bottom-right-radius: 25% ;
  transform: translate(-50%, -50%);
  overflow: hidden;
} 

.percent{
  position: absolute;
  user-select: none;
  left: 0;
  top: 0;
  z-index:33;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content:center; 
  color:#fff;
  font-size: 45px;
  font-family: Space grotesk;
}

.water{
  position: absolute;
  left: 0;
  top: 0;
  z-index:2;
  width: 100%;
  height: 100%;
  transform:translate(0,120%);
  background:#692704;
  transition: all 0.1s;
}

.water_wave{
  width: 200%;
  position: absolute;
  bottom: 100%;
}

.water_wave_back {
  right: 0;
  fill: #F56C22;
  animation: wave-back 1.5s infinite linear;
}

.water_wave_front 
{
  left: 0;
  fill: #692704;
  margin-bottom: -1px;
  animation: wave-front 0.8s infinite linear;
}

.fadeOut
{
  pointer-events: none;
  z-index: 0;
  animation: fadeOutAnim 0.15s ease-out forwards;
  transition: z-index ;
  transition-delay: 0.15s;
}

#loadingText
{
  user-select: none;
  z-index: -1;
  animation: scaleAnim 2s infinite;
}
  
@keyframes wave-front {
  100% { transform: translate(-50%, 0); }
}
  
@keyframes wave-back {
  100% { transform: translate(50%, 0); }
}

@keyframes scaleAnim {
	0%   { transform: scale(0.85) }
	50%  { transform: scale(1)    }
  100% { transform: scale(0.85) }
}

@keyframes fadeOutAnim {
  0%   { opacity: 100; }
  100% { opacity: 0;}
}
